.features-title h1{
    font-size: 60px;
    font-weight: 100;
}
.features-title p{
    font-size: 20px;
    font-weight: 500;
}
.Autonomous{
    font-weight: 500;
}
.features-title{
    padding: 10px;
    margin: 50px 20px;
    max-width: 723px;
}
.feature-list-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}