.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.hero-content {
    position: absolute;
    z-index: 1;
    top: 550px;
    text-align: start;
    margin: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: calc(100% - 100px);
}


/* .hero-content, */
.hero-title,
.hero-title h1 {
    font-size: 60px;
    background: none !important;
    background-color: transparent !important;
    text-transform: uppercase;
}

.hero-button {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.getstart-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    border: 1px solid #989795;
    border-radius: 30px;
    background-color: transparent;
    color: #989795;
    font-size: 16px;
    font-weight: 500;
}

.getstart-button text {
    color: #989795;
}

.button-icon {
    background-color: #E85102;
    color: white;
    width: 30px;
    height: 30px;
    position: relative;
    left: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

@media (max-width: 1024px) {
    .hero-title {
        line-height: 1;

    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {


    .hero-image {
        display: block;
        object-fit: cover;
    }

    .hero-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-content {
        padding: 0 20px;
        text-align: center;
        align-items: center;
        gap: 15px;
    }

    .hero-title h1 {
        font-size: clamp(1.5rem, 10vw, 2.5rem);
        line-height: 1.2;
    }

    .hero-button {
        justify-content: center;
    }
}