.certificate-container {
    max-width: 1344px;
    width: 100%;
    margin: auto;
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.certification-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.Certifications-para {
    flex: 1;
    max-width: 500px;
}

.Certifications-para p {
    font-size: 16px;
    line-height: 1.6;
    color: #999999;
    margin: 0;
}

.certificate-title {
    flex: 1;
    max-width: 662px;
    text-align: right;
}

.certificate-title h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.0;
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
}

.certification-card {
    background-color: #FFFFFF1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    text-align: center;
    line-height: 1.0;
}

.certification-card p {
    color: #898A8E;
    font-size: 16px;
}

.certification-details {
    max-width: 300px;
    font-size: 24px;
}

.certification-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px 0px;
}

@media (max-width: 968px) {
    .certification-header {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .certificate-title {
        text-align: left;
    }

    .certificate-title h2 {
        font-size: 40px;
    }

    .Certifications-para {
        max-width: 100%;
    }

    .certification-content {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}

@media (max-width: 640px) {
    .certificate-title h2 {
        font-size: 32px;
    }

    .Certifications-para p {
        font-size: 14px;
    }
}