.about {
    min-height: 400px;
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9897951A;
}

.about p {
    letter-spacing: 0.5px;
    font-weight: 300;
    margin: 0;
    line-height: 38px;
    color: #989795;
    padding: 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'Clash Display';
    font-weight: 600;
}

.about-content {
    max-width: 1300px
}

.cornor-bracket-top-left {
    position: absolute;
    top: 100px;
    left: 100px;
}

.cornor-bracket-bottom-right {
    position: absolute;
    bottom: 100px;
    right: 100px;
}

@media (max-width: 1024px) {
    .cornor-bracket-top-left {
        position: absolute;
        top: 50px;
        left: 50px;
    }

    .cornor-bracket-bottom-right {
        position: absolute;
        bottom: 50px;
        right:50px;
    }
}

@media (max-width: 768px) {
    .cornor-bracket-top-left {
        position: absolute;
        top: 50px;
        left: 50px;
    }

    .cornor-bracket-bottom-right {
        position: absolute;
        bottom: 50px;
        right:50px;
    }
}