.spotlight-content {
    display: grid;
    grid-template-columns: 600px 600px;
    max-width: 1344px;
    margin: auto;
    column-gap: 10px;
    row-gap: 10px;
}

.spotlight-container {
    max-width: 1344px;
    width: 100%;
    margin: auto;
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.spotlight-heading {
    text-align: center;
    font-size: 30px;
    line-height: 1.0;
    text-transform: uppercase;
}

.spotlight-card {
    padding: 20px 20px;
    background: linear-gradient(rgba(24, 24, 26, 1), rgba(12, 12, 17, 1));
}

.spotlight-card-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid;
    border-color: rgba(249, 249, 249, 0.2);
}

.spotlight-title {
    font-size: 30px;
    line-height: 0.5;
}

.spotlight-title h3 {
    font-size: 20px;
    line-height: 0.5;
}

.discover-button h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.getstart-button {
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 20px;
    border: 1px solid #989795;
    border-radius: 30px;
    background-color: transparent;
    color: #989795;
    cursor: pointer;
    transition: all 0.3s ease;
}

.getstart-button:hover {
    border-color: #ffffff;
    color: #ffffff;
}

.button-text {
    color: #989795;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.button-icon {
    background-color: white;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: relative;
    left: 17px;
}

.transform-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 0px;
    flex-wrap: wrap;
    text-align: left;
}

.transform-content {
    max-width: 672px;
    font-size: 15px;
    line-height: 1.0;
    text-transform: uppercase;
    color: #e0e0e0;
}

@media (max-width: 1024px) {
    .spotlight-content {
        display: grid;
        grid-template-columns: 600px;
        max-width: 1344px;
        margin: auto;
        column-gap: 10px;
        row-gap: 10px;
    }

    .spotlight-card-2 {
        display: none ;
    }
}

@media (max-width: 768px) {
      .spotlight-content {
        display: grid;
        grid-template-columns: 600px;
        max-width: 1344px;
        margin: auto;
        column-gap: 10px;
        row-gap: 10px;
    }

    .spotlight-card-2 {
        display: none ;
    }
    .transform-container{
        display: none;
    }
}