<div class="footer-container">
    <div class="footer-content">
        <div class="footer-title">
            <h1>Let’s Build the Next Breakthrough Together </h1>
            <div class="line"></div>
            <div class="socials">
                <h3>Fb.</h3>
                <h3>Tw.</h3>
                <h3>In.</h3>
            </div>
        </div>
        <div class="logo">
            <img src="assets/images/Mask group (5).svg">
        </div>
        <div class="address">
            <h3>Autonomous Ai - UAE</h3>
            <p>Innovation Hub Tower,<br>
                Al Maryah Island</p>
        </div>
        <div class="contact">
            <p>+971 562992229</p>
            <p>info@autonomousai.ae</p>
        </div>

    </div>
    <div class="footer-line"></div>
    <div class="footer-nav">
        <ul class="nav-list-content">
            <li>HOME</li>
            <li>OUR WORK</li>
            <li>WHAT WE DO</li>
            <li>CONTACT US</li>
        </ul>
        <div class="footer-copyright">
            <h3>© 2025 Autonomous AI . All Rights Reserved</h3>
        </div>
    </div>
</div>