.achievements-container {
    width: 100%;
    padding: 80px 0px 60px 0px;
    margin-top: 50px;
    background-color: #9897951A;
    text-align: center;
}

.title {
    margin-bottom: 100px;
}

.title h1 {
    font-size: 60px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
}

.achievements-content {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 80px 0px;
    max-width: 1400px;
    margin: 0 auto;
}

.achievements-content > div img {
    /* width: 60px; */
    height: auto;
    object-fit: contain;
}

.achievment-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 280px;
    text-align: left;
}

.content-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.content-title h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
    color: #ffffff;
}

.content-title p {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 0.5px;
    margin: 0;
    color: #ffffff;
}

.content-description p {
    font-size: 16px;
    color: #999999;
    line-height: 1.0;
    margin: 0;
}

.divider {
    width: 2px;
    height: 80px;
    background-color: #E85102;
    flex-shrink: 0;
}

@media (max-width: 1024px) {
    .achievements-content {
        gap: 30px;
    }
    
    .title h1 {
        font-size: 48px;
    }
}

@media (max-width: 768px) {
    .achievements-content {
        flex-direction: column;
        gap: 50px;
    }
    
    .achievements-content > div img {
        display: none;
    }
    
    .divider {
        display: none;
    }
    
    .title h1 {
        font-size: 36px;
    }
    
    .achievment-card {
        text-align: center;
        align-items: center;
    }
    
    .content-title {
        justify-content: center;
        
    }
    
    .content-description p {
        text-align: center;
    }
}