/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Clash Display';
  src: url('assets/fonts/ClashDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: 'Clash Display', sans-serif;
  /* font-size: 16px; */
  line-height: 20px;
  letter-spacing: 0;
  color: white;
  background-color: black;
}